@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #FFD700; /* Or */
  --dark-color: #2C3E50; /* Bleu foncé */
  --light-color: #ECF0F1; /* Gris clair */
  --accent-color: #3a89bd; /* Rouge corail */
  --background-gradient: linear-gradient(135deg, #3974ae, #22221f); /* Dégradé bleu-or */
}

body, html {
  height: 100%;
  background: var(--background-gradient);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container .title {
  font-size: 1.5em;
  text-align: center;
  border: 3px solid var(--primary-color);
  padding: 0.3em 0.2em;
  border-radius: 4px;
  color: var(--light-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-light {
  color: var(--light-color);
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container .questions {
  padding: 1.5em;
}

.container .grid {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.container .btn {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  transition: all 0.3s ease;
  background: var(--primary-color);
  color: var(--dark-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .btn:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #202020;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.next {
  background-color: var(--primary-color);
  justify-self: flex-end;
}

.prev {
  background-color: #faff5a;
  justify-self: flex-start;
}

ul li {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.1em;
  padding: 15px 15px 15px 50px;
  margin: 5px auto;
  height: auto;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

ul li:hover label {
  color: #FFFFFF;
}

ul li .check {
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 15px;
  z-index: 5;
  transition: border 0.25s linear;
}

ul li:hover .checked {
  border: 3px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
}

input[type=radio]:checked ~ .check {
  border: 3px solid var(--primary-color);
}

input[type=radio]:checked ~ .check::before {
  background: var(--primary-color);
}

input[type=radio]:checked ~ .text-primary {
  color: var(--primary-color);
}

.checked {
  border: 3px solid var(--primary-color) !important;
}

.checked::before {
  background: var(--primary-color);
}
