/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 320px; /* Adjust width to better fit the star rating */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Adjusting the star rating inside the modal */
.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Add margin at the top of the star rating */
}

.stars-container {
  display: flex;
}

.star-rating button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px; /* Add space between stars */
}

.star-rating button.on {
  color: gold;
}

.star-rating button.off {
  color: lightgray;
}

.rating-message {
  margin-top: 10px;
  font-size: 16px;
  color: #4caf50;
  font-weight: bold;
}
.reclamation-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.reclamation-btn:hover {
  background-color: #45a049;
}