

.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid #cecece;
    padding: 3em 4em;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #cecece;
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
}
.table-header {
    background-color: #f2f2f2;
    text-align: left;
}

.table-row th, .table-body td {
    padding: 8px;
    border: 1px solid #ddd;
}

.table-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}
